:root {
    /* Light Blue */
    --light-blue: #add8e6;
    --lighter-lightblue: #fbfdfd;
    --darker-lightblue: #79b6c9;
    /* Dark Blue */
    --dark-blue: #13333e;
    --lighter-darkblue: #1d3d48;
    --darker-darkblue: #13272e;
}

body {
    margin: 0;
    color: var(--dark-blue);
}

h1,
h2,
h3,
h4,
button {
    font-family: "Comic Relief", system-ui;
}

h1 {
    margin: 0;
    font-size: 32px;
}

h2 {
    margin: 0;
}

p {
    font-family: "Domine", serif;
    font-size: 20px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.logo {
    width: 150px;
    height: 150px;
}

/* --------- Container --------- */

.header {
    width: 100vw;
    height: 80px;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & button {
        border: 2px solid var(--light-blue);
        border-radius: 25px;
        background-color: var(--dark-blue);
        color: var(--light-blue);
        font-size: 24px;
        padding: 5px;
        width: 120px;
    }

    & .active {
        border: 2px solid var(--dark-blue);
        background-color: var(--light-blue);
        color: var(--dark-blue);
        box-shadow: 0 0 15px 2px var(--light-blue);
    }

    & button:hover{
        border: 2px solid var(--dark-blue);
        background-color: var(--light-blue);
        color: var(--dark-blue);
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 10vw 0 10vw;
    width: 90vw;
}

/* ------ Title Container ------ */

.title-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.competences-icons {
    display: flex;
    flex-wrap: wrap;
}

.subtitle {
    margin: 25px 0 25px 0;
}

/* ------ Icons ------ */

.icon-container {
    position: relative;
    display: inline-block;
    border-radius: 15px;
    margin: 7px;
    padding: 10px;
    background-color: var(--lighter-lightblue);
}



.icon-container:hover {
    box-shadow: 7px 10px 5px 5px var(--darker-lightblue);
}

.icon-img {
    width: 50px;
}

.graphic-programs-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.graphic-programs-icons {
    display: flex;
    flex-wrap: wrap;
}

.descritionTxt {
    margin-right: 10vw;
}

.popup {
  display: none;
  position: absolute;
  bottom: 100%; 
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px; 
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  white-space: nowrap;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* --------- Studies --------- */

.studies-container {
    margin: 20px 0;
}

/* ------ Cards ------ */

.studies {
    display: inline-block;
    width: 280px;
    height: 340px;
    perspective: 600px;
    margin: 7px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--light-blue);
    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
}

.card_face-front {
    background: var(--lighter-darkblue);
}

.card_face-back {
    background: var(--darker-darkblue);
    transform: rotateY(180deg);
}


.logoImg {
    width: 180px;
    background-color: var(--lighter-lightblue);
    margin-top: 120px;
}

.backCard-title {
    font-size: 24px;
}

.card-text {
    color: var(--light-blue);
    font-family: "Domine", serif;

}

/* --------- Footer --------- */
.footer {
    width: 100vw;
    height: 80px;
    background-color: var(--dark-blue);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0 0 0;

    & .logo-footer {
        width: 80px;
        height: 80px;
        margin-left: 10vw;
    }

    & .contact-footer {
        margin-right: 10vw;
    }

    & .icons {
        display: flex;
        justify-content: space-between;
    }

    & .footerContactTitle {
        color: var(--light-blue);
        margin: 10px 0 10px 0;
    }

    & .logo-icon {
        width: 25px;
    }

    & .logo-icon:hover {
        box-shadow: 0px 0px 10px 5px var(--light-blue);
    }
}