body{
    margin: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.logo{
    width: 300px;
    height: 300px;
}