:root{
    --light-blue: #add8e6;
    --dark-blue: #13333e;
}

body{
    margin: 0;
    font-family: "Metamorphous", serif;
    color: var(--dark-blue);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.logo{
    width: 150px;
    height: 150px;
}